    <div class="highlight">
        <section class="content">
            <h2>Contributors</h2>
            <p>Thanks to the following for contributing to the development of these sequences:</p>
            <ul class="four contributors clearfix">
                <li>
                    <figure>
                        <img src="{{ site.baseurl }}/img/bec-connors.jpg" alt="Rebecca Heasman"><figcaption><span>Rebecca Connors</span> Miss Rebecca Connors, Bachelor of Teaching (Science)/Bachelor of Science student at Deakin University (Pre-Service Teacher Contributor and Collator).</figcaption>
                    </figure>
                </li>
                <li class="detailed">
                    <figure>
                        <img src="{{ site.baseurl }}/img/matthew-symonds.jpg" alt="Dr. Matthew Symonds"><figcaption><span>Dr. Matthew Symonds</span> Senior Lecturer, School of Life and Environmental Sciences Deakin University</figcaption>
                    </figure>
                    <div class="details">
                        <p>I am an evolutionary ecologist who is interested in trying to explain, from an evolutionary perspective, what has generated differences in behaviour, ecology, morphology (body shape) and physiology between closely related species. I use evolutionary trees to answer questions about why particular traits have evolved. Using this approach, I have investigated the evolution of traits as diverse as insect sex pheromones, reptile colour patterns, mammal metabolic rates, bird beak sizes and plant medicinal capacity. I have been a lecturer at Deakin University for 7 years, teaching evolution and statistics. I am also the editor-in-chief of the journal Evolutionary Ecology. <a class="full-profile" href="http://www.deakin.edu.au/about-deakin/people/matthew-symonds" target="_blank">Full profile</a></p>
                    </div>
                </li>
                <li><img src="{{ site.baseurl }}/img/peta-white.jpg" alt="Dr. Peta White"><span><a class="new-tab-warning" href="http://www.deakin.edu.au/profiles/peta-white" target="_blank">Dr. Peta White</a></span> Lecturer in Science and Environmental Education at Deakin University (Education Academic and Project Coordinator)</li>
                <li>
                    <figure>
                        <img src="{{ site.baseurl }}/img/mary-vamvakas.jpg" alt="Mary Vamvakas">
                        <figcaption><span>Mrs Mary Vamvakas</span> BSc, Grad Dip Ed, Teaching Associate Deakin University</figcaption>
                    </figure>
                </li>
            </ul>
        </section>
    </div>
    <div class="overlay">
        <div class="overlay-child">
            
        </div>
    </div>