        <footer class="site-footer">
            <div class="deakin">
                <a href="http://www.deakin.edu.au/"><img src="{{ site.baseurl }}/img/deakin-logo-Keyline.png" alt="Deakin University"/></a> 
            </div>
            <div class="sponsors">
                <div class="container clearfix">
                    <div class="left"> 
                        <a href="http://remstep.org.au"><img src="{{ site.baseurl }}/img/remstep-logo-RGB.png" alt="ReMSTEP"/></a>
                    </div>
                    <div class="right">
                        <a href="https://www.education.gov.au/"><img src="{{ site.baseurl }}/img/Dept-Education-and-Training_Stacked_Black.png" alt="Department of Education and Training"/></a>
                    </div>
                </div>
                <div class="container">
                    <p class="acknowledgement">This resource has been developed thanks to <a href="http://remstep.org.au">Reconceptualising Mathematics and Science Teacher Education Program</a>, supported by the <a href="https://www.education.gov.au/">Australian Government Department of Education and Training</a>.</p>
                </div>
            </div>
            <div class="site-info">
                <div class="container clearfix">
                    <p class="designer">Web design by Albert Penticoss</p>
                    <div class="cc">
                        <img src="{{ site.baseurl }}/img/creativecommons.png" alt=""/>
                        <p>Unless otherwise noted, content on this site is licensed under the <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a></p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ site.baseurl }}/js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="{{ site.baseurl }}/js/plugins.js"></script>
        <script src="{{ site.baseurl }}/js/main.js?v=100220171534"></script>
{% if site.GA-id != null %}
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','{{ site.GA-id }}','auto');ga('send','pageview');
        </script>
{% endif %}
    </body>
</html>