        <header class="site-header">
            <nav>
                <ul>
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li {% if page.module == "one" %}class="active"{% endif %} ><a {% if page.module == "one" %}class="active"{% endif %} href="{{ site.baseurl }}/sequence-one/">Module 1</a></li>
                    <li {% if page.module == "two" %}class="active"{% endif %} ><a {% if page.module == "two" %}class="active"{% endif %} href="{{ site.baseurl }}/sequence-one/module2.html">Module 2</a></li>
                    <li {% if page.module == "three" %}class="active"{% endif %} ><a {% if page.module == "three" %}class="active"{% endif %} href="{{ site.baseurl }}/sequence-one/module3.html">Module 3</a></li>
                    <li {% if page.module == "four" %}class="active"{% endif %} ><a {% if page.module == "four" %}class="active"{% endif %} href="{{ site.baseurl }}/sequence-one/module4.html">Module 4</a></li>
                    <li {% if page.module == "five" %}class="active"{% endif %} ><a {% if page.module == "four" %}class="active"{% endif %} href="{{ site.baseurl }}/sequence-one/module5.html">Module 5</a></li>
                </ul>
            </nav>
            <div class="heading">
                <div class="siteHeading">Survival Through Adaptations and Regulation</div>
                <p>for VCE Biology</p>
            </div>
        </header>